
body {
    background-image: url(/img/BGmontreal.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Oswald', sans-serif;
}

.test{
    border: 1px solid red;
}

/* Styles img */

.imgHide {
    opacity: 0%;
}

.imgIndex {
    position: absolute;
    top: 140px;
    left: 40px;
    border-radius: 5px;
}

.img-container {
    height: 100px;
    width: 100px;
    position: relative;
}

/* Autre Styles */
.temp-index{
    font-family: 'Oswald', sans-serif;
}

.spacing1 {
    top: 50px;
}
.tableau{
    background-color: white;
    width: 600px;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
}
.navig{
background-color: white;
font-size: 30px;
height: 120%;
}