body {
    background-image: url(/img/BGmontreal.webp);
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}

.temp-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spacing1 {
    top: 50px;
}

.test {
    border: red solid;
}

/* Styles img */

.imgHide {
    opacity: 0%;
}
.imgIndex {
    position: absolute;
}

.img-container {
    height: 100px;
    width: 100px;
    position: relative;

}

/* Info containers */

.info-container {
    height: 250px;
    width: 100%;
    
}

.info-containers {
    height: 250px;
    width: 135px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

/*  Navigation */

.navig{
    background-color: rgb(114, 153, 197);
    font-size: 30px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    float: right;
    padding-right: 3%;
}