body {
    background-image: url(/img/BGmontreal.webp);
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}

.temp-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spacing1 {
    top: 50px;
}

/* Styles img */

.imgHide {
    opacity: 0%;
}
.imgIndex {
    position: absolute;
    padding-top: 1px;
    padding-left: 12%;
}

.img-container {
    height: 100px;
    width: 100px;
    position: relative;

}

/* Autre Styles */

.info-container {
    height: 250px;
    width: 450px;
    
}

.info-containers {
    height: 250px;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.info-containers-1 {
    position: relative;
}

.info-containers-2 {
    position: relative;
    left: 35%;
    top: -252px;
    width: 31%;
}

.info-containers-3 {
    position: relative;
    top: -504px;
    float: right;
}

.info-containers-1 {
    position: relative;
}

.info-containers-2 {
    position: relative;
    left: 35%;
    top: -252px;
    width: 31%;
}

.info-containers-3 {
    position: relative;
    top: -504px;
    float: right;
}

.navig{
    background-color: rgb(114, 153, 197);
    font-size: 30px;
    height: 120%;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    float: right;
    padding-right: 3%;
}